/* Theme */

main {
	background-image: url(Unsplash.jpg) ;
  background-position: center;
	background-size: cover;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
